<!doctype html>
{% load bootstrap4 %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}

    <title>Blog</title>
  </head>
  <body>
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Enkeipy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/posts">Posts</a>
          {% if user.is_authenticated %}
          <a class="nav-link" href="/posts/create">Create post</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <h1>Blog</h1>
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Bootstrap Javascript -->
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>