{% extends "base.html" %}
{% load bootstrap4 %}
{% load hitcount_tags %}
{% load comments %}
{% load static %}
{% block head %}
<h1>{{ object.title }}</h1>
{% endblock head %}


{% block content %}
{% get_comment_count for object as comment_count %}
{% get_comment_form for object as form %}
<div class="card mb-3">
{% if object.image %}
  <img src="{{object.image.url}}" class="card-img-top" alt="{{ object.title }}">
{% else %}
  <img src="{% static 'posts/images/placeholder.jpg' %}" class="card-img-top" alt="{{ object.title }}">
{% endif %}
  <div class="card-body">
    <p class="card-text">{{ object.text }}</p>
    <p class="card-text"><small class="text-muted">Views: {{ hitcount.total_hits }}, Comments: {{ comment_count }}, Date: {{ object.creation_date }}</small></p>
    {% if user.is_authenticated %}
<a href="{% url 'posts:update' object.pk %}"><button type="button" class="btn btn-secondary">Update</button></a>
<a href="{% url 'posts:delete' object.pk %}"><button type="button" class="btn btn-secondary">Delete</button></a>
{% endif %}
  </div>
</div>
  <div class="row">
    <div class="col-12">
    <p class="card-text">This post has {{ comment_count }} comments:</p>
    {% render_comment_list for object %}
    </div>
    <div class="col-xs-12 col-md-6">
    <form method="post" action="{% comment_form_target %}" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% buttons %}
          <input type="hidden" name="next" value="{% url 'posts:detail' object.pk %}" />
          <input type="submit" name="submit" value="Post" class="btn btn-primary">
      {% endbuttons %}
    </form>
    </div>
  </div>

{% endblock %}

