{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>{{ object.title }}</h1>
<i>{{ object.creation_date }}</i>
{% if object.image %}
<img src="{{object.image.url}}" class="img-fluid" alt="{{ object.title }}" />
{% else %}
<img src="{% static 'posts/images/placeholder.jpg' %}" class="img-fluid" alt="{{ object.title }}" />
{% endif %}
<p>{{ object.text }}</p>
{% if user.is_authenticated %}
<a href="{% url 'posts:update' object.pk %}"><button type="button" class="btn btn-secondary">Update</button></a>
<a href="{% url 'posts:delete' object.pk %}"><button type="button" class="btn btn-secondary">Delete</button></a>
{% endif %}
{% endblock %}

